flask==2.3.3
flask-cors==4.0.0
flask-socketio==5.3.6
geopandas==0.13.2
fiona==1.9.5
shapely==2.0.2
pandas==2.2.3
numpy==1.26.0
xarray==2023.10.0
earthengine-api==0.1.383
netCDF4==1.6.4
google-api-python-client==2.111.0
google-auth==2.25.1
google-auth-httplib2==0.1.1
google-auth-oauthlib==1.1.0
gdal==3.6.4
poppler==23.11.0